<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>


<form class ="pure-form pure-form-stacked" method="POST" action="/auth/"> {% csrf_token %}
	<input type="text" name="username" value="" id="username" placeholder="Username" />
	<input type="password" name="password" value="" id="password" placeholder="Password" />
<input type="submit" value="Sign In" class="pure-button pure-button-primary"/>
</form>

</body>
</html>