 {% extends "base.html" %}
 {% load staticfiles %}
 {% load crispy_forms_tags %}


 {% block content %}

		
<div class="row" style=" margin-top: 40px ;border: 1px solid lightgrey; border-radius: 3px; background-color: white;padding: 10px 2px; box-shadow: 1px 2px 4px #888888;">

	<h3 style="padding: 5px 15px 25px 15px; border-radius: 2px; background-color: white;">Creation de nouvel utilisateur</h3>
	<!-- <div class="col-xs-2"></div> -->

	<div class="col-xs-12">
		<form class ="form-group" method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
		{{ form|crispy }}

		<input class="btn btn-primary" type="submit" value="Sign In" class="pure-button pure-button-primary"/>
		</form>
	</div>

	<!-- <div class="col-xs-2"></div> -->

</div>
 {% endblock %}